@using Cv.Models.Entity
@model List<Deneyimler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Deneyim listesi</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Altbaşlık</th>
        <th>Tarih</th>
        <th>aciklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.İd</td>
            <td>@x.Baslik</td>
            <td>@x.Altbaslik</td>
            <td>@x.Tarih</td>
            <td>@x.Aciklama</td>
            <td><a href="/Deneyim/DeneyimSil/@x.İd">Sil</a></td>
            <td><a href="/Deneyim/DeneyimGetir/@x.İd">Güncelle</a></td>
        </tr>
    }
</table>
<a  href="/Deneyim/DeneyimEkle" class="btn btn-success">Ekle</a>